/* --------------------------------------------------------------------------
Fonts
-----------------------------------------------------------------------------*/
$novelSans: 'novel-sans-pro', sans-serif;
$classico: 'classico-urw', sans-serif;

$bodyTextFont: $classico;
$headingFont: $classico;