/* --------------------------------------------------------------------------
Buttons
-----------------------------------------------------------------------------*/
.button,
button {
	cursor: pointer;
	border: 0;
	border-radius: 0;
	transition: all 0.3s ease-in-out;
	font-family: inherit;
	outline: none;
	display: inline-block;
	&:hover {}
}

/* --------------------------------------------------------------------------
Inputs
-----------------------------------------------------------------------------*/
input,
textarea {
	border: none;
	outline: none;
	display: block;
	width: 100%;
	border-bottom: 1px solid #C4C4C4;
	background-color: transparent;
	box-shadow: none;
	letter-spacing: 0.13rem;
	text-transform: uppercase;
	padding-bottom: 0.8rem;
	padding-top: 0.8rem;
	font-size: 1.2rem;
	font-family: $novelSans;
	font-weight: 300;
	@include mobile-only {
		padding-bottom: 0.4rem;
		font-size: 0.9rem;
	}
}

.wpforms-container .wpforms-field {
	padding: 0 !important;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #7E7E7E;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #7E7E7E;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #7E7E7E;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #7E7E7E;
}

/* --------------------------------------------------------------------------
Validation
-----------------------------------------------------------------------------*/
.validation-wrapper {
	position: relative;
	margin-bottom: 40px;
	@include mobile-only {
		margin-bottom: 30px;
	}
}
.error {
	font-size: 1.1rem;
	margin-top: 0;
	position: absolute;
	bottom: -16px;
	transform: translateY(100%);
}

.thanks {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(255, 255, 255, .9);
	display: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	h1 {
		margin-bottom: 0;
		margin-top: 0;
	}
	p {
		margin-bottom: 3rem;
	}
}
