/* --------------------------------------------------------------------------
Sizing - Gutters
-----------------------------------------------------------------------------*/
$gridColumnGutterSize: 2rem;
$gridRowGutterSize: 2rem;

/* --------------------------------------------------------------------------
Grid Styles
-----------------------------------------------------------------------------*/
[class*="cols"] {
	display: grid;
	grid-template-rows: auto;
	grid-column-gap: $gridColumnGutterSize;
	grid-row-gap: $gridRowGutterSize;
	grid-template-columns: 1fr;
}

.cols-2 {
	@include tablet-up {
		grid-template-columns: repeat(2, 1fr);
	}
}
.cols-3 {
	@include tablet-up {
		grid-template-columns: repeat(3, 1fr);
	}
}
.cols-4 {
	@include tablet-up {
		grid-template-columns: repeat(2, 1fr);
	}
	@include desktop-up {
		grid-template-columns: repeat(4, 1fr);
	}
}

.cols-1-2 {
	@include tablet-up {
		grid-template-columns: 1fr 2fr;
	}
}

.cols-2-1 {
	@include tablet-up {
		grid-template-columns: 2fr 1fr;
	}
}

.cols-2-3 {
	@include tablet-up {
		grid-template-columns: 2fr 3fr;
	}
}

.mobile-flex-reverse {
	@include mobile-only {
		display: flex;
		flex-direction: column-reverse;
	}
}

/* â­  Styles for IE & OLDER BROWSERS that don't support CSS Grid using Modernizr's .no-cssgrid class  */
.no-cssgrid {
	[class^="cols"] {
		@extend .clearfix;
		> * {
			margin-bottom: $gridRowGutterSize;
		}
	}

	@include tablet-up {
		[class^="cols"] {
			margin-left: (-$gridColumnGutterSize);
			> * {
				float: left;
				margin-left: $gridColumnGutterSize;
			}
		}

		.cols-2 > * {
			width: calc(50% - #{$gridColumnGutterSize});
		}
		.cols-3 > * {
			width: calc(33.3% - #{$gridColumnGutterSize});
		}
		.cols-4 > * {
			width: calc(25% - #{$gridColumnGutterSize});
		}
		.cols-1-2 > :first-of-type {
			width: calc(33.33% - #{$gridColumnGutterSize});
		}
		.cols-1-2 > :last-of-type {
			width: calc(66.66% - #{$gridColumnGutterSize});
		}
		.cols-2-1 > :first-of-type {
			width: calc(66.66% - #{$gridColumnGutterSize});
		}
		.cols-2-1 > :last-of-type {
			width: calc(33.33% - #{$gridColumnGutterSize});
		}
		.cols-2-3 > :first-of-type {
			width: calc(40% - #{$gridColumnGutterSize});
		}
		.cols-2-3 > :last-of-type {
			width: calc(60% - #{$gridColumnGutterSize});
		}
	}
}
