/* --------------------------------------------------------------------------
Typography
-----------------------------------------------------------------------------*/
html {
  font-size: $baseSize;
  font-size: 0.6944444444444vw;
}

body {
  background-color: $primaryBgColor;
  font-family: $bodyTextFont;
  font-size: $bodyTextFontSize;
  color: $primaryTextColor;
  line-height: $bodyTextLineHeight;
  letter-spacing: $bodyTextLetterSpacing;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

/* --------------------------------------------------------------------------
Anchors
-----------------------------------------------------------------------------*/
a {
  color: $primaryAnchorColor;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:active,
a:hover {
  color: darken($primaryAnchorColor, 10%);
}

/* --------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4 {
  font-family: $headingFont;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 5rem;
  color: $copper;
  letter-spacing: 0.08rem;
  @include mobile-only {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 1.6rem;
  font-family: $classico;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  @include mobile-only {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: $smallHeadingFontSize;
}

/* --------------------------------------------------------------------------
Text
-----------------------------------------------------------------------------*/
.small-caps {
  font-size: 1.6rem;
  font-family: $classico;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  @include mobile-only {
    font-size: 1.3rem;
  }
}

/* --------------------------------------------------------------------------
Rules
-----------------------------------------------------------------------------*/
hr {
  border: 0;
  border-bottom: $border;
}

/* --------------------------------------------------------------------------
Lists
-----------------------------------------------------------------------------*/
ul {
  padding: 0;
  list-style: none;
}

/* --------------------------------------------------------------------------
  SCREENREADER ONLY
-----------------------------------------------------------------------------*/
.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* --------------------------------------------------------------------------
Responsive Design
-----------------------------------------------------------------------------*/
@include tablet-only {
  html {
    font-size: $tabletBaseSize;
    font-size: 0.9vw;
  }
}

@include mobile-only {
  html {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 768px) and (min-width: 580px) {
  html {
    font-size: 1.8vw;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}
