/* --------------------------------------------------------------------------
  Contact Section
-----------------------------------------------------------------------------*/
.page-id-76 {
  background: $tanBg;
}

.page-contact {
  padding-top: 1rem;
  padding-bottom: 11rem;
  @include mobile-only {
    padding-bottom: 4rem;
    padding-top: 3rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 9.6rem;
    @include mobile-only {
      margin-bottom: 2rem;
    }
  }

}

/* Layout ================== */
.page-contact {
  .cols-2 {
    grid-row-gap: 0;
    @include tablet-up {
      grid-template-columns: 42% 58%;
      grid-column-gap: 0;
    }
  }
  .cols-2-1 {
    @include tablet-up {
      grid-column-gap: 5.5rem;
    }
    > div:first-of-type {
      @include tablet-up {
        position: relative;
        &::after,
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -2rem;
          width: 1px;
          height: 102%;
          background: $copper;
        }
        &::before {
          left: 42%;
        }
        &::after {
          right: 0;
        }
      }
    }
  }
  .cell {
    padding-bottom: 7.5rem;
    @include mobile-only {
      padding-bottom: 1.2rem;
    }
  }

}

/* TEXT CONTENT ================== */
.page-contact {
  h2 {
    font-family: $novelSans;
    font-weight: 300;
    margin-top: 1rem;

    @include mobile-only {
      margin-top: 2.2rem;
    }
    @include tablet-up {
      text-align: right;
      padding-right: 6rem;
    }
    @include tablet-only {
      padding-right: 3rem;
    }
  }
  .desc {
    line-height: 1.45;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    @include tablet-up {
      padding-right: 4rem;
      padding-left: 6rem;
    }
    @include tablet-only {
      padding-left: 3.4rem;
    }
    @include mobile-only {
      font-size: 1.4rem;
      max-width: 28rem;
    }
  }
  .cols-2:first-of-type {
    .desc {
      padding-right: 7.6rem;
    }
  }
}

/* --------------------------------------------------------------------------
  CONTACT FORM
-----------------------------------------------------------------------------*/

/* INPUTS & TEXTAREAS ================== */
.contact-form {

  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    transition: background-color 50000s ease-in-out 0s;
  }
  .wpforms-container .wpforms-field {
    padding: 0 !important;
  }
  textarea {
    margin-top: 5.3rem;
    resize: none;
    height: 16.6rem !important;
    line-height: 3.4rem;
    padding-top: 0;
    @include mobile-only {
      height: 11.6rem !important;
      line-height: 2rem;
      margin-top: 0;
    }
  }
  .wpforms-field-textarea {
    background-image: linear-gradient(#C4C4C4 1px, transparent 0);
    background-size: 100% 3.35rem;
    background-position: 0 3.2rem;
    @include mobile-only {
      background-size: 100% 1.95rem;
      background-position: 0 3.8rem;
      margin-top: 2.6rem;
    }
  }

  label:not(.wpforms-error) {
    @extend .screen-reader-text;
  }
}

/* BUTTON ================== */
.contact-form {
  .wpforms-submit {
    background: transparent;
    color: $copper;
    @extend .small-caps;
    font-family: $novelSans;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.18rem;
    padding: 0;
    margin-top: 3rem;
    padding-right: 3.2rem;
    position: relative;
    &::before {
      content: '';
      transition: all 0.3s ease-in-out;
      background-image: url("../images/arrow.svg");
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-46%);
      width: 2.6rem;
      height: 1.4rem;
      background-size: 100%;
    }
    &:hover::before {
      transform: translate(.3rem, -46%);
    }
    @include mobile-only {
      margin-top: 1.2rem;
      font-size: 0.9rem;
    }
  }
}

/* --------------------------------------------------------------------------
  ERROR & SUCCESS
-----------------------------------------------------------------------------*/
.contact-form {
  input.wpforms-error {
    border: 0 !important;
    border-bottom: 1px solid red !important;
  }

  label.wpforms-error {
    font-size: 1.1rem !important;
    color: red !important;
  }
}

.wpforms-confirmation-container p {
  font-size: 1.6rem;
  max-width: 30rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11rem;
}
